<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="452019023240-tb1idfg81ad2e6ei2gds9rf4o6oahi96.apps.googleusercontent.com.apps.googleusercontent.com">
    <title>Sign In Page</title>
</head>
<body>


    <div>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
            data-client_id="452019023240-tb1idfg81ad2e6ei2gds9rf4o6oahi96.apps.googleusercontent.com"
            data-login_uri="http://localhost:8080/"
            data-auto_prompt="false">
    
        </div>
        <div class="g_id_signin"
            id="signIn"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
        </div>
  
  
    
</body>
</html>


